/* purgecss start ignore */
.bmc-button svg {
  height: 27px !important;
  width: 35px !important;
  margin-bottom: 1px !important;
  box-shadow: none !important;
  border: none !important;
  vertical-align: middle !important;
}

.bmc-button {
  padding: 7px 10px 7px 10px !important;
  line-height: 26px !important;
  height: 45px !important;
  //min-width: 200px !important;
  text-decoration: none !important;
  display: inline-flex !important;
  color: #FFFFFF !important;
  background-color: #FF813F !important;
  border-radius: 5px !important;
  border: 1px solid transparent !important;
  padding: 7px 10px 7px 10px !important;
  font-size: 12px !important;
  letter-spacing: 0.6px !important;
  //box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
  //-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  margin: 0 auto !important;
  font-family: 'Cookie', cursive !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  -o-transition: 0.3s all linear !important;
  -webkit-transition: 0.3s all linear !important;
  -moz-transition: 0.3s all linear !important;
  -ms-transition: 0.3s all linear !important;
  transition: 0.3s all linear !important;
}

.bmc-button:hover,
.bmc-button:active,
.bmc-button:focus {
  //-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  text-decoration: none !important;
  //box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  opacity: 0.85 !important;
  color: #FFFFFF !important;
}
/* purgecss end ignore */
